@{
    ViewData["Title"] = "NobleHawk Designs";
}
<link rel="stylesheet" type="text/css" href="~/css/Design.css">
<div class="web-design-section" id="web-design">
    <img src="~/images/clearchoice_home.png" alt="website image" class="image-side">
    <div class="text-side">
        <h2>Website Designs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat id felis vitae tincidunt. Cras molestie placerat semper. Suspendisse ac tortor scelerisque ligula pulvinar vulputate. Proin dignissim rutrum magna, in ultrices arcu ultrices vitae. Cras tincidunt aliquam arcu in dignissim. Vivamus et tellus vestibulum, lobortis metus a, volutpat felis. Curabitur vel ultrices odio. Phasellus imperdiet velit diam, et porta elit fringilla id. Praesent non est tristique, varius nibh ullamcorper, posuere est. Proin vitae est justo. Maecenas aliquam vulputate laoreet. </p>
    </div>
</div>

<div class="web-design-section" id="custom-art">
    <div class="text-side">
        <h2>Custom Web Art</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat id felis vitae tincidunt. Cras molestie placerat semper. Suspendisse ac tortor scelerisque ligula pulvinar vulputate. Proin dignissim rutrum magna, in ultrices arcu ultrices vitae. Cras tincidunt aliquam arcu in dignissim. Vivamus et tellus vestibulum, lobortis metus a, volutpat felis. Curabitur vel ultrices odio. Phasellus imperdiet velit diam, et porta elit fringilla id. Praesent non est tristique, varius nibh ullamcorper, posuere est. Proin vitae est justo. Maecenas aliquam vulputate laoreet. </p>
    </div>
    <img src="~/images/benhome.png" alt="website image" class="image-side">
</div>

<div class="web-design-section" id="logo-design">
    <img src="~/images/logo-design.jpg" alt="website image" class="image-side">
    <div class="text-side">
        <h2> Logo Designs</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat id felis vitae tincidunt. Cras molestie placerat semper. Suspendisse ac tortor scelerisque ligula pulvinar vulputate. Proin dignissim rutrum magna, in ultrices arcu ultrices vitae. Cras tincidunt aliquam arcu in dignissim. Vivamus et tellus vestibulum, lobortis metus a, volutpat felis. Curabitur vel ultrices odio. Phasellus imperdiet velit diam, et porta elit fringilla id. Praesent non est tristique, varius nibh ullamcorper, posuere est. Proin vitae est justo. Maecenas aliquam vulputate laoreet. </p>
    </div>
</div>