
html,body{
    width: 100vw;
    height: 100vh;
}
.container.body-content{
    width: 100vw;
    max-width: 100vw;
    margin:0; 
    padding:0; 
    box-sizing:border-box;
  
}
.navbar.navbar-inverse{
    padding-bottom: 0px;
} 

footer{
    background-color: black;
    height: 100px;
}



/* carousel set max height and Width to fill screen*/

.carousel,.item{
    
    max-height: 85vh; /*slider height*/
}
.carousel-inner{
    height:100%;
}
  
.carousel .item img {
      width: 100%; /*img width*/
}
#myCarousel{
    min-width: 100vw;
}

.collapse.navbar-collapse{
    padding: 0px;
    margin: 0px;
}

#Carousel-hidden{
    display: none;
}






/* mid section 3 columns horizontal - under carousel*/

.mid-section-three-columns{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 150%;

}
.mid-section-three-columns a:link{
    text-decoration: none;
}
.mid-section-column1{
    padding: 1%;
    float: left;
    width: 33.3333%;
}
.mid-section-column2{
    padding: 1%;
    float: center;
    width: 33.3333%;
}
.mid-section-column3{
    padding: 1%;
    float: right;
    width: 33.3333%;
}
.mid-section-images{
    width: 90%;
    margin: 0px auto;
    display: block;
    max-height: 280px;
}
.mid-section-headers{
    color: black;
    display: block;
    text-align: center;
    margin-bottom: 5%;  
}
.mid-section-three-columns p{
    padding: 5%;
}
#mid-section-hidden-responsive-content{
    display: none;
}
/* end mid section*/


/*bottem contact form information*/
.bottem-contact-section{
    text-align: center;
  
}
.bottem-contact-section table{
    margin: 0 auto;
    display: inline;
    font-size: 190%;
}

.bottem-contact-section td{
    padding: 4% 2% 4% 2%;
    text-align: left;
    max-width: 80vw;
}
.contact-info{
    display: inline-block;
    font-size: 200%;
    float: left;
    padding-left: 10%;
    padding-top: 5%;
}
.contact-form{
    display: inline-block;
    float: right;
    padding-right: 15%;
}
.glyphicon.glyphicon-envelope{
    padding-top: 20%;
    font-size: 600%;
}




  /* needs work - Media Queries*/
  @media(max-width: 756px){

    .nav.navbar-nav{
        display: none;
        overflow: hidden;
    }
    .navbar-toggle.navbar-right{
        position: absolute;
        right: 0px;
    }
    .navbar-header{
        position: absolute;
        left:2%;
    }
    .mid-section-three-columns{
        display: block;
    }
    .mid-section-column1,.mid-section-column2,.mid-section-column3{
        width: 100%;
    }
    #mid-section-hidden-responsive-content{
        display: block;
    }   
  }

 
